{% extends 'SymforceAdminBundle::layout.html.twig' %}

{% block body %}

 <div class="container">                
     
    <div class="col-xs-6 col-xs-offset-3">
    {% block content %}
        
        <form action="{{ path( 'sf_admin_check' ) }}" class="form-horizontal" method="post" id="sf_admin_login_form" >
            
            {{ form_widget(form) }}
            
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                    <input type="submit" name="_submit" value="{{ 'sf.versionlogin.signin' | trans({}, sf_domain ) }}" class="btn btn-primary" />
                </div>
            </div>
        </form>

         <script type="text/javascript">
        $(function(){
            new SymforceFormValidator('#sf_admin_login_form', {
                'url': '{{ path('sf_admin_login') }}' ,
                'elements': '.captcha_input input'
            }) ;
        });
        </script>

    {% endblock %}

</div><!-- /content --> 
</div><!-- /container --> 
{% endblock %}

